<a href="https://colab.research.google.com/github/hugoalexg/Python-for-Data-Science-and-Machine-Learning-Bootcamp/blob/main/3_Pandas_part_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>


SF Salaries Exercise:

** Import pandas as pd.**

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

Mounted at /content/drive


** Read Salaries.csv as a dataframe called sal.**

In [ ]:
sal = pd.read_csv('/content/drive/My Drive/Python for Data Science and Machine Learning Bootcamp/Files/Salaries.csv')


** Check the head of the DataFrame. **

In [ ]:
sal.head()

   Id       EmployeeName  ...         Agency  Status
0   1     NATHANIEL FORD  ...  San Francisco     NaN
1   2       GARY JIMENEZ  ...  San Francisco     NaN
2   3     ALBERT PARDINI  ...  San Francisco     NaN
3   4  CHRISTOPHER CHONG  ...  San Francisco     NaN
4   5    PATRICK GARDNER  ...  San Francisco     NaN

[5 rows x 13 columns]


** Use the .info() method to find out how many entries there are.**

In [ ]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

What is the average BasePay ?

In [ ]:
sal['BasePay'].mean()

66325.44884050643


** What is the highest amount of OvertimePay in the dataset ? **

In [ ]:
sal['OvertimePay'].max()

245131.88

** What is the job title of JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [ ]:
newdf = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']
print(newdf['JobTitle'])

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [ ]:
print(newdf['TotalPayBenefits'])

24    270324.91
Name: TotalPayBenefits, dtype: float64


** What is the name of highest paid person (including benefits)?**

In [ ]:
newdf = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].max()]
print(newdf['EmployeeName'])

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [ ]:
newdf = sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]
print(newdf['EmployeeName'])

148653    Joe Lopez
Name: EmployeeName, dtype: object


** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [ ]:
byear = sal.groupby('Year')
print(byear.mean()['BasePay'])

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [ ]:
print(sal['JobTitle'].nunique())

2159

** What are the top 5 most common jobs? **

In [ ]:
print(sal['JobTitle'].value_counts().head(5))

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [ ]:
sal13 = sal[sal['Year'] == 2013]
count = sal13['JobTitle'].value_counts()
jone = list(filter(lambda item: item == 1, count))
print(len(jone))

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [ ]:
newdf = sal['JobTitle']
counter = 0
for n in range(len(newdf)):
	if ('chief' in newdf[n].lower().split()):
		counter += 1
print(counter)

477


** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [ ]:
sal['title_len'] = sal['JobTitle'].apply(len)
print(sal[['title_len','TotalPayBenefits']].corr())

                  title_len  TotalPayBenefits
title_len          1.000000         -0.036878
TotalPayBenefits  -0.036878          1.000000