<a href="https://colab.research.google.com/github/hugoalexg/Python-for-Data-Science-and-Machine-Learning-Bootcamp/blob/main/3_Pandas_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom.

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
from google.colab import drive
drive.mount("/content/drive", force_remount=True)

In [ ]:
ecom = pd.read_csv('/content/drive/My Drive/Python for Data Science and Machine Learning Bootcamp/Files/Ecommerce Purchases')

Check the head of the DataFrame.

In [ ]:
ecom.head(5)

                                             Address  ... Purchase Price
0  16629 Pace Camp Apt. 448\nAlexisborough, NE 77...  ...          98.14
1  9374 Jasmine Spurs Suite 508\nSouth John, TN 8...  ...          70.73
2                   Unit 0065 Box 5052\nDPO AP 27450  ...           0.95
3              7780 Julia Fords\nNew Stacy, WA 45798  ...          78.04
4  23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...  ...          77.82

[5 rows x 14 columns]

How many rows and columns are there?

In [ ]:
print(len(ecom.columns))
print(len(ecom.index))

14
10000

In [ ]:
ecom.info(0)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

What is the average Purchase Price?

In [ ]:
print(ecom['Purchase Price'].mean())

50.34730200000025

What were the highest and lowest purchase prices?

In [ ]:
print(ecom['Purchase Price'].max())
print(ecom['Purchase Price'].min())

99.99
0.0

How many people have English 'en' as their Language of choice on the website?

In [ ]:
lang = ecom.groupby('Language')
print(lang.count().loc['en']['Email'])

1098

How many people have the job title of "Lawyer" ?

In [ ]:
job = ecom[ecom['Job'] == 'Lawyer']
print(len(job['Email'].index))

30

How many people made the purchase during the AM and how many people made the purchase during PM ?

In [ ]:
print(ecom['AM or PM'].value_counts())

PM    5068
AM    4932
Name: AM or PM, dtype: int64

What are the 5 most common Job Titles?

In [ ]:
print(ecom['Job'].value_counts().head(5))

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Designer, jewellery                  27
Research officer, political party    27
Name: Job, dtype: int64

Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction?

In [ ]:
newdf = ecom[ecom['Lot'] == '90 WT']
print(newdf['Purchase Price'])

513    75.1
Name: Purchase Price, dtype: float64

What is the email of the person with the following Credit Card Number: 4926535242672853

In [ ]:
newdf = ecom[ecom['Credit Card'] == 4926535242672853]
print(newdf['Email'])

1234    bondellen@williams-garza.com
Name: Email, dtype: object

How many people have American Express as their Credit Card Provider *and made a purchase above $95 ?

In [ ]:
newdf = ecom[(ecom['CC Provider'] == 'American Express') & (ecom['Purchase Price'] >= 95)]
print(newdf.count()['Email'])

39

Hard: How many people have a credit card that expires in 2025?

In [ ]:
def string25(date):
	if '25' in date.split('/'):
		return True
	else:
		return False
print(sum(ecom['CC Exp Date'].apply(string25)))

1033

 Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...)

In [ ]:
def domainGet(email):
	return email.split('@')[1]
print(ecom['Email'].apply(domainGet).value_counts().head(5))

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64